/*
  Author: Zhenyu Yuan
  Class: CSc337
  This style.css file provides some font and color edit for 
  index.html
*/
body {
  font-family: Arial;
  font-size: 20pt;
  padding: 20px;
  background-color: rgb(152, 215, 240);
}

button {
  font-size: 20pt;
}

input {
  font-size: 20pt;
}

#page{
  color: rgb(11, 91, 167);
}
#warningOutput{
  color: red;
  padding-top: 25px
}
